/**
 * Vincent Ragosta - Twenty Sixteen
 * Variable CSS
 */

/*--- Descriptive color variables ---*/
$white      : #FFF;
$black      : #000;
$mine-shaft : #333;
$shark      : #26262A;
$dove-gray  : #686868;
$porcelain  : #EDEEEF;
$alabaster  : #FAFAFA;
$thunder    : #221E1F;

/*--- Functional color variables ---*/
$black-opacity : rgba( $black, .95 );

/*--- Font stacks ---*/
$stack-serif              : serif;
$stack-sans-serif         : sans-serif;
$stack-cormorant-garamond : 'Cormorant Garamond', $stack-serif;
$stack-lato               : 'Lato', $stack-sans-serif;

/*--- Font Properties ---*/
$base__font-size     : 14px;
$base__line-height   : 1.1;
$font-weight-light   : 300;
$font-weight-regular : 500;
$font-weight-bold    : 700;

/*--- Media Queries ---*/
$break-xs-max      : '( max-width: 479px )';

$break-mobile-min  : '( min-width: 480px )';
$break-mobile-max  : '( max-width: 767px )';

$break-tablet-min  : '( min-width: 768px )';
$break-tablet-max  : '( max-width: 991px )';

$break-desktop-min : '( min-width: 992px )';
$break-desktop-max : '( max-width: 1199px )';

$break-lg-min      : '( min-width: 1200px )';
$break-lg-max      : '( max-width: 1499px )';

$break-xl-min      : '( min-width: 1500px )';
