/**
 * Vincent Ragosta - Twenty Sixteen
 * Instagram CSS
 */

html.swipebox-html {
	overflow-y: hidden;
}

#swipebox-title {
	@extend %row-flex-center;
	height: 100%;
}

#instagram-feed {
	& {
		@extend %full-width;
		max-width: 1200px;
	}

	& a {
		border: none;
		padding: 0;
	}

	& .instagram-image {
		& {
			padding: 5px;
		}

		& .image {
			@extend %normalize-image;
		}
	}

	& .instagram-image {
		padding: 5px;
	}

	& figure {
		@extend %full-width;
		position: relative;
		padding-bottom: 100%;
	}
}

@media only screen and ( max-width: 768px ) {
	#instagram-feed .instagram-image {
		padding: 5px 0;
	}
}

.instagram-about {
	margin-top: 4rem;
}

@media only screen and ( max-width: 768px ) {
	.instagram-about {
		margin-top: 3rem;
	}
}
