/**
 * Vincent Ragosta - Twenty Sixteen
 * Sidebar CSS
 */

.aside {
	& {
		// padding: 6rem 4rem;
		padding: 60px 40px;

		@media only screen and #{$break-mobile-max} {
			// padding: 4rem;
			padding: 40px;
		}
	}

	& h2 {
		@media only screen and #{$break-mobile-max} {
			font-size: 30px;
			// font-size: 3rem;
			// margin-bottom: 3rem;
			margin-bottom: 30px;
		}
	}

	& h1,
	& h2 {
		// margin-bottom: 4rem;
		margin-bottom: 40px;
		font-family: $stack-lato;
	}

	& p {
		@extend %full-width;
		@include fade( 0.7 );
		line-height: 1.5;
		max-width: 1100px;
		// font-size: 1.85rem;
		font-size: 18.5px;

		@media only screen and #{$break-mobile-max} {
			// font-size: 1.65rem;
			font-size: 16.5px;
			line-height: 1.5;
		}
	}

	& p + p {
		// margin-top: 4rem;
		margin-top: 40px;
		@include flex( $justify-content: center );

		@media only screen and #{$break-mobile-max} {
			// margin-top: 3rem;
			margin-top: 30px;
		}
	}

	& a {
		& {
			border: 2px solid $dove-gray;
			background: transparent;
			color: $dove-gray;
			// font-size: 1.5rem;
			font-size: 15px;
			// padding: 1.5rem 3rem;
			padding: 15px 30px;
			text-transform: uppercase;
			transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
			text-align: center;

			@media only screen and #{$break-mobile-max} {
				// font-size: 1.5rem;
				font-size: 15px;
			}
		}

		&:hover {
			background: $dove-gray;
			color: $white;
		}
	}

	&.excerpt {
		@extend %col-flex-center;
	}
}

#projects .aside {
	&.archive {
		max-width: 1200px;
		margin: 0 auto;
	}

	& p {
		max-width: 750px;
	}
}

/*--- Specifically target the excerpt on the archive page. ---*/
.archive .aside.excerpt {
	background: $porcelain;
}

#single-project .aside.excerpt {
	max-width: 800px;
}

/*--- Accomodating for single template design ---*/
.single .aside {
	&.link {
		@include flex();
	}

	&.content {
		// padding: 6rem 0;
		padding: 60px 0;

		@media only screen and #{$break-mobile-max} {
			padding: 0;
		}
	}
}

.cta {
	& {
		@extend %col-flex-center;
	}

	&.a,
	&.c,
	&.f {
		background: $porcelain;
	}

	&.b,
	&.d,
	&.e {
		background: $white;
	}

	&.e,
	&.about.c {
		padding: 0;
	}

	&.d h2 {
		max-width: 800px;
	}

	&.b p,
	&.about.a p {
		max-width: 800px;
	}

	&.about.d p {
		max-width: 600px;
	}

	&.b p:first-child {
		margin: 0 auto;
	}

	&.d:not( .about ) p {
		max-width: 300px;
		line-height: 1.9;
	}

	&.d h4 {
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		// margin: 3rem 0 1.5rem 0;
		margin: 30px 0 15px 0;
	}
}

.pre-footer {
	// padding: 0 1.2rem;
	padding: 0 12px;
}

#sidebar {
	@media only screen and #{$break-tablet-max} {
		width: 100%;
	}

	@media only screen and #{$break-desktop-min} {
		width: 30%;
	}
}
