/**
 * Vincent Ragosta - Twenty Sixteen
 * Sidebar CSS
 */

.aside {
	& {
		padding: em( 60px ) em( 40px );
	}

	& h2 {
		@media only screen and #{$break-mobile-max} {
			font-size: em( 35px, 10px );
		}
	}

	& h1,
	& h2 {
		margin-bottom: em( 15px );
		font-family: $stack-lato;
	}

	& p {
		@extend %full-width;
		@include fade( 0.7 );
		line-height: ( 24px / 16px );
		max-width: em( 880px );

		@media only screen and #{$break-tablet-min} and #{$break-tablet-max} {
			font-size: em( 26px );
		}

		@media only screen and #{$break-mobile-max} {
			font-size: em( 36px );
		}
	}

	& p + p {
		margin-top: em( 30px );
		@include flex( $justify-content: center );
	}

	& p + a {
		margin-top: em( 30px );
		display: inline-block;
	}

	& a {
		& {
			font-size: em( 20px );
			padding: em( 10px, 20px ) em( 30px, 20px );
			border: em( 2px, 20px ) solid $dove-gray;
			background: transparent;
			color: $dove-gray;
			text-transform: uppercase;
			text-align: center;
			transition: background 0.5s ease-in-out, color 0.5s ease-in-out;

			@media only screen and #{$break-mobile-max} {
				font-size: em( 26px );
				padding: em( 10px, 26px ) em( 30px, 26px );
			}
		}

		&:hover {
			background: $dove-gray;
			color: $white;
		}
	}

	&.excerpt {
		@extend %col-flex-center;
	}
}

/*--- Accomodating for single template design ---*/
.single .aside {
	&.link {
		@include flex();
	}

	&.content {
		padding: em( 60px ) 0;

		@media only screen and #{$break-mobile-max} {
			padding: 0;
		}
	}
}

.cta {
	& {
		@extend %col-flex-center;
	}

	&.a,
	&.c,
	&.e {
		background: $porcelain;
	}

	&.b,
	&.d {
		background: $white;
	}

	&.d,
	&.about.c {
		padding: 0;
	}

	&.b p,
	&.about.a p {
		max-width: em( 800px );
	}

	&.about.d p {
		max-width: em( 600px );
	}

	&.b p:first-child {
		margin: 0 auto;
	}
}

.pre-footer {
	padding: 0 em( 12px );
}

#sidebar {
	@media only screen and #{$break-desktop-min} {
		width: 30%;
	}

	@media only screen and #{$break-tablet-max} {
		width: 100%;
	}
}
