/**
 * Vincent Ragosta - Twenty Sixteen
 * Widget CSS
 */

/*--- Core Widgets ---*/
.textwidget {
	text-align: center;
}

/*--- Notification Widget ---*/
#notification-widget {
	& {
		@extend %full-width;
		@extend %row-flex-center;
		padding: 0;
	}

	& p {
		@extend %row-flex-center;
		@include fade( 1 );
		color: $white;
		font-size: em( 28px );

		@media only screen and #{$break-tablet-max} {
			flex-direction: column;
		}
	}

	& a {
		& {
			border: em( 2px ) solid $white;
			color: $white;

			@media only screen and #{$break-desktop-min} {
				margin: 0 0 0 em( 20px );
			}

			@media only screen and #{$break-tablet-max} {
				margin: em( 20px ) 0 0 0;
			}
		}

		&:hover {
			background: $white;
			color: $dove-gray;
		}
	}
}
