/**
 * Vincent Ragosta - Twenty Sixteen
 * Widget CSS
 */

/*--- Notification Widget ---*/
#notification-widget {
	& {
		@extend %full-width;
		@extend %row-flex-center;
		padding: 0;
	}

	& p {
		color: $white;
		font-size: 2.8rem;
		opacity: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	& a {
		& {
			border: 2px solid $white;
			color: $white;
		}

		&:hover {
			background: $white;
			color: $dove-gray;
		}
	}
}

@media only screen and ( max-width: 991px ) {
	#notification-widget {
		& p {
			flex-direction: column;
		}

		& a {
			margin: 2rem 0 0 0;
		}
	}
}

@media only screen and ( min-width: 992px ) {
	#notification-widget a {
		margin: 0 0 0 2rem;
	}
}
