/**
 * Vincent Ragosta - Twenty Sixteen
 * Extend Helper CSS
 */

%full-width {
	width: 100%;
}

%col-flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

%col-flex-start {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

%col-flex-end {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
}

%row-flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

%row-flex-start {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

%row-flex-end {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

%row-flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

%padding-left-right {
	padding: 0 1rem;
}

/*--- Normalizes image by centering and covering the parent container ---*/
%normalize-image {
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
