/**
 * Vincent Ragosta - Twenty Sixteen
 * Footer CSS
 */

#footer {
	& {
		@extend %col-flex-center;
		background-color: #26262a;
		padding: 6rem 0;
	}

	& section > div {
		margin: .5rem 0
	}

	& p {
		color: #fff;
		opacity: 0.5;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
}

@media only screen and ( max-width: 767px ) {
	#footer {
		padding: 2rem 0;
	}
}

/*--- Contact Info ( Footer )---*/
#contact-info {
	& h3 {
		color: #fff;
	}

	& span {
		opacity: 0.5;
	}
}

/*--- Documents ( Footer ) ---*/
#docs {
	& a {
		opacity: 0.5;
		transition: opacity 0.4s ease-in-out;
	}

	& a:hover {
		opacity: 1;
	}

	& a:nth-child(2) {
		margin: 0 1rem;
	}
}

#copyright {
	@extend %padding-left-right;
}

/*--- Social ( Footer ) ---*/
.social {
	& {
		@extend %row-flex-center;
		padding: 2rem;
	}

	& a {
		font-size: 2.5rem;
		margin: 0 1rem;
	}
}
