/**
 * Vincent Ragosta - Twenty Sixteen
 * Variable CSS
 */

/*--- Descriptive color variables ---*/
$white      : #FFF;
$black      : #000;
$mine-shaft : #333;
$shark      : #26262A;
$dove-gray  : #686868;
$porcelain  : #EDEEEF;
$alabaster  : #FAFAFA;
$thunder    : #221E1F;

/*--- Functional color variables ---*/
$black-opacity : rgba( $black, .95 );

/*--- Font stacks ---*/
$stack-serif              : 'serif';
$stack-sans-serif         : 'sans-serif';
$stack-cormorant-garamond : 'Cormorant Garamond', $stack-serif;
$stack-lato               : 'Lato', $stack-sans-serif;
