/**
 * Vincent Ragosta - Twenty Sixteen
 * Archive CSS
 */

/*--- Archive Project ---*/
.archive {
	& .aside p {
		max-width: 850px;
	}

	& .grid-container {
		& {
			@extend %full-width;
			// padding: 1rem .5rem 0;
			padding: 10px 5px 0;

			@media only screen and #{$break-mobile-max} {
				flex-direction: column;
			}
		}

		&:last-child {
			// padding-bottom: 0rem;
			padding-bottom: 0;
		}
	}
}

#projects .featured-image .image {
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

/*--- Blog ---*/
#blog {
	& {
		@media only screen and #{$break-tablet-max} {
			flex-direction: column;
			// padding: 2rem;
			padding: 20px;
		}

		@media only screen and #{$break-desktop-min} and #{$break-lg-max} {
			// padding: 4 6rem;
			padding: 40px 60px;
		}

		@media only screen and #{$break-xl-min} {
			// padding: 4rem 16rem;
			padding: 40px 160px;
		}
	}

	& h2,
	& p {
		text-align: left;
	}

	& section {
		@media only screen and #{$break-tablet-max} {
			width: 100%;
		}

		@media only screen and #{$break-desktop-min} {
			width: 70%;
		}
	}

	& .post {
		line-height: 1.5;
		// padding: 2rem;
		padding: 20px;
	}

	& .category a {
		@include fade( 0.7 );
		color: $mine-shaft;
		text-transform: uppercase;
		// font-size: 1.5rem;
		font-size: 15px;
	}

	& .header-container .header {
		font-family: $stack-lato;
		font-weight: $font-weight-regular;
	}

	& .sub-header {
		@include flex();
		@include fade( 0.7 );
		// font-size: 1.8rem;
		font-size: 18px;
	}

	& .post-author,
	& .post-date {
		font-family: $stack-lato;
		font-weight: $font-weight-light;
	}

	& figure {
		position: relative;
		padding-bottom: 40%;
		// margin-top: .5rem;
		margin-top: 5px;
	}

	& .image {
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	& .excerpt {
		// margin-top: .5rem;
		margin-top: 5px;
		// font-size: 2.2rem;
		font-size: 22px;
		font-family: $stack-lato;
	}

	& .content {
		@include fade( 0.7 );
		// font-size: 1.8rem;
		font-size: 18px;
	}

	& .link-container {
		// margin-top: .5rem;
		margin-top: 5px;
	}

	& .link {
		color: $mine-shaft;
		// font-size: 1.8rem;
		font-size: 18px;
		font-weight: $font-weight-light;
	}

	& #pagination-archive {
		// margin: 4rem 0;
		margin: 40px 0;
	}
}

/*--- Archive Pagination ---*/
#pagination-archive {
	// margin: 0 0 6rem;
	margin: 0 0 60px;
}

.page-numbers {
	& {
		border: none;
		// padding: 0 1rem;
		padding: 0 10px;
		// font-size: 2rem;
		font-size: 20px;
		color: $dove-gray;
		font-family: $stack-lato;
		transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
	}

	&:hover:not( .current ) {
		background-color: $dove-gray;
		color: $white;
	}
}
