/**
 * Vincent Ragosta - Twenty Sixteen
 * Archive CSS
 */

/*--- Archive Project ---*/
.archive {
	& .aside p {
		max-width: 850px;
	}

	& .grid-container {
		& {
			@extend %full-width;
			padding: 1rem .5rem 0;
		}

		&:last-child {
			padding-bottom: 0rem;
		}
	}
}

@media only screen and ( max-width: 767px ) {
	.archive .grid-container {
		flex-direction: column;
	}
}

#projects .featured-image .image {
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

/*--- Blog ---*/
@media only screen and ( min-width: 1500px ) {
	#blog {
		padding: 4rem 16rem;
	}
}

@media only screen and ( min-width: 992px ) and ( max-width: 1499px ) {
	#blog {
		padding: 4rem 6rem;
	}
}

@media only screen and ( max-width: 991px ) {
	#blog {
		flex-direction: column;
		padding: 2rem;
	}
}

#blog {
	& h2,
	& p {
		text-align: left;
	}

	& .post {
		line-height: 1.5;
		padding: 2rem;
	}

	& .category a {
		@include fade( 0.7 );
		color: $mine-shaft;
		text-transform: uppercase;
		font-size: 1.5rem;
	}

	& .header-container .header {
		font-family: $stack-lato;
		font-weight: $font-weight-regular;
	}

	& .sub-header {
		@include flex();
		@include fade( 0.7 );
		font-size: 1.8rem;
	}

	& .post-author,
	& .post-date {
		font-family: $stack-lato;
		font-weight: $font-weight-light;
	}

	& figure {
		position: relative;
		padding-bottom: 40%;
		margin-top: .5rem;
	}

	& .image {
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	& .excerpt {
		margin-top: .5rem;
		font-size: 2.2rem;
		font-family: $stack-lato;
	}

	& .content {
		@include fade( 0.7 );
		font-size: 1.8rem;
	}

	& .link-container {
		margin-top: .5rem;
	}

	& .link {
		color: $mine-shaft;
		font-size: 1.8rem;
		font-weight: $font-weight-light;
	}

	& #pagination-archive {
		margin: 4rem 0;
	}
}

@media only screen and ( min-width: 991px ) {
	#blog section {
		width: 70%;
	}
}

@media only screen and ( max-width: 992px ) {
	#blog section {
		width: 100%;
	}
}

/*--- Archive Pagination ---*/
#pagination-archive {
	margin: 0 0 6rem;
}

.page-numbers {
	& {
		border: none;
		padding: 0 1rem;
		font-size: 2rem;
		color: $dove-gray;
		font-family: $stack-lato;
		transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
	}

	&:hover:not( .current ) {
		background-color: $dove-gray;
		color: $white;
	}
}
