/**
 * Vincent Ragosta - Twenty Sixteen
 * Archive CSS
 */

/*--- Archive Project ---*/
.archive {
	& .aside {
		&.archive {
			& {
				max-width: em( 1200px );
				margin: 0 auto;
			}

			& .featured-image .image {
				top: em( 10px );
				bottom: em( 10px );
				left: em( 10px );
				right: em( 10px );
			}
		}

		& p {
			max-width: em( 750px );
		}

		&.excerpt {
			background: $porcelain;
		}
	}

	& .grid-container {
		@extend %full-width;
		margin: 0;

		@media only screen and #{$break-mobile-max} {
			flex-direction: column;
		}
	}
}

/*--- Archive Pagination ---*/
#pagination-archive {
	margin: 0 0 em( 60px );
}

.page-numbers {
	& {
		border: none;
		font-size: em( 20px );
		padding: 0 em( 10px, 20px );
		color: $dove-gray;
		font-family: $stack-lato;
		transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
	}

	&:hover:not( .current ) {
		background-color: $dove-gray;
		color: $white;
	}
}
