/**
 * Vincent Ragosta - Twenty Sixteen
 * Contact CSS
 */

#contact-page {
	& > div {
		padding: em( 60px ) em( 40px );
	}

	h2 {
		font-family: $stack-lato;
		margin-bottom: em( 10px );
		text-align: left;

		@media only screen and #{$break-mobile-max} {
			text-align: center;
			font-size: em( 48px );
		}
	}

	& p {
		@extend %full-width;
		@include fade( 0.7 );
		line-height: ( 24 / 16 );
		font-size: em( 18.5px );
		margin: 0 auto;
		text-align: left;

		@media only screen and #{$break-mobile-max} {
			text-align: center;
			font-size: em( 36px );
		}
	}

	& .content > div:first-child h2 + p {
		margin-bottom: 50px;
	}

	& p a {
		font-family: $stack-cormorant-garamond;
	}

	& a {
		color: $mine-shaft;
	}

	& .social {
		& {
			padding: em( 20px ) 0;
			display: block;

			@media only screen and #{$break-mobile-max} {
				text-align: center;
			}
		}

		& a:first-child {
			margin-left: 0;
		}

		& a:hover {
			@include fade( 0.7 );
		}
	}

	& .form {
		& p {
			padding: 0 em( 15px );
			line-height: ( 16/ 16 );
		}

		& .full-label {
			margin: 0;
			font-size: em( 18px );
			line-height: ( 16 / 16 );
			margin-bottom: em( 5px );
			text-align: left;

			@media only screen and #{$break-mobile-max} {
				font-size: em( 32px );
			}
		}

		& .descriptive-label {
			font-size: em( 14px );
			margin: 0 0 em( 5px ) em( 5px );
			font-style: italic;
			text-align: left;

			@media only screen and #{$break-mobile-max} {
				font-size: em( 28px );
			}
		}

		& input,
		& textarea {
			background-color: $alabaster;
			border-radius: 0;
		}

		& label {
			@include fade( 0.7 );
			margin: em( 5px ) 0;
			line-height: ( 16 / 16 );

			@media only screen and #{$break-mobile-max} {
				font-size: em( 24px );
			}
		}
	}

	& .contact-btn {
		& {
			font-family: $stack-lato;
			padding: em( 5px ) em( 30px );
			border: em( 2px ) solid $dove-gray;
			border-radius: 0;
			background: transparent;
			color: $dove-gray;
			text-transform: uppercase;
			transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
		}

		&:hover {
			background: $dove-gray;
			color: $white;
		}

		&:focus,
		&:focus:active {
			outline: none;
		}
	}
}

.map {
	filter: grayscale( 100% );
}
