/**
 * Vincent Ragosta - Twenty Sixteen
 * Contact CSS
 */

#contact-page {
	& > div {
		padding: 6rem 4rem;
	}

	& h2,
	& h3 {
		font-family: 'Lato', sans-serif;
		margin-bottom: 10px;
		text-align: left;
	}

	& h3 {
		text-transform: uppercase;
	}

	& p {
		line-height: 1.5;
		opacity: 0.7;
		width: 100%;
		font-size: 1.85rem;
		margin: 0 auto;
		text-align: left;
	}

	& h2 + p {
		margin-bottom: 50px;
	}

	& p a {
		font-family: 'Cormorant Garamond', serif;
	}

	& a {
		color: #333;
	}

	& .social {
		& {
			padding: 2em 0;
			display: block;
		}

		& a:first-child {
			margin-left: 0;
		}

		& a:hover {
			opacity: 0.7;
		}
	}

	& .form {
		& p {
			padding: 0 15px;
			line-height: 1;
		}

		& .full-label {
			margin: 0;
			font-size: 18px;
			line-height: 1;
			margin-bottom: 5px;
			text-align: left;
		}

		& .descriptive-label {
			font-size: 14px;
			margin-bottom: 5px;
			font-style: italic;
			text-align: left;
		}

		& input,
		& textarea {
			background-color: #FAFAFA;
			border-radius: 0;
		}

		& label {
			opacity: 0.7;
			margin: 5px 0;
			line-height: 1;
		}
	}

	& .contact-btn {
		& {
			border: 2px solid #686868;
			border-radius: 0;
			background: transparent;
			color: #686868;
			font-size: 1.5rem;
			padding: .5rem 3rem;
			text-transform: uppercase;
			transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
			font-family: 'Lato', sans-serif;
		}

		&:hover {
			background: #686868;
			color: #fff;
		}

		&:focus,
		&:focus:active {
			outline: none;
		}
	}
}

@media only screen and ( max-width: 768px ) {
	#contact-page {
		& > div {
			& {
				padding: 2rem;
			}

			&:first-child {
				padding-top: 6rem;
			}

			&:last-child {
				padding-bottom: 6rem;
			}
		}

		& h2,
		& h3 {
			text-align: center;
		}

		& p {
			text-align: center;
		}

		& .social {
			text-align: center;
		}
	}
}

.map {
	filter: grayscale( 100% );
}
