/**
 * Vincent Ragosta - Twenty Sixteen
 * Footer CSS
 */

#footer {
	& {
		@extend %col-flex-center;
		background-color: $shark;
		padding: em( 60px ) 0;
	}

	& p {
		@include fade( 0.5 );
		color: $white;
		font-family: $stack-lato;
		font-weight: $font-weight-light;
	}

	& .copyright {
		padding: 0 em( 10px );
	}
}
