/**
 * Vincent Ragosta - Twenty Sixteen
 * Header CSS
 */

#header {
	position: relative;
}

/*--- Prevent button from appearing in the header on the front page ---*/
.home #header .featured-image .ovrerlay a {
	display: none;
}

/*--- Navigation ---*/
.nav-container {
	@extend %full-width;
	position: absolute;
	z-index: 1;
}

.controls-container {
	@extend %row-flex-between;
	padding: em( 20px );

	@media only screen and #{$break-mobile-max} {
		padding: em( 40px );
	}
}

#logo {
	& {
		background-image: url( '../images/white-logo.png' );
		background-size: contain;
		background-position: center;

		/*--- We do not need em here since we want the height and width to remain 75px. ---*/
		height: 75px;
		min-width: 75px;

		/*--- CSS transitions to toggle header visibility ---*/
		@include fade( 1, visible, opacity .4s ease-in-out, visibility .4s ease-in-out );
	}

	/*--- Initial styles when the page is unloaded ( needed for js functionality ) ---*/
	&.unloaded {
		@include fade( 0, hidden );
	}
}

/*--- Hamburger button styles ---*/
.drop-down {
	font-size: em( 60px );
	top: em( 40px, 60px );
	right: em( 45px, 60px );
	color: $white;
	cursor: pointer;
	position: absolute;

	/*--- CSS transitions to toggle drop-down visibility ---*/
	@include fade( 0, hidden, visibility 2s ease-in-out, opacity 0.5s ease-in-out );

	@media only screen and #{$break-tablet-max} {
		@include fade( 1, visible );
	}

	@media only screen and #{$break-mobile-max} {
		font-size: em( 80px );
		top: em( 70px, 80px );
		right: em( 75px, 80px );
	}
}
