/**
 * Vincent Ragosta - Twenty Sixteen
 * Resume CSS
 */

#resume {
	& section {
		padding: 6rem 4rem;
	}

	& h2,
	& h3,
	& h4,
	& p {
		text-align: left;
		font-family: 'Lato', sans-serif;
	}

	& h2 {
		font-weight: 300;
	}

	& h3 {
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	& h4 {
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	& li {
		margin: 5px 0;
		font-family: 'Lato', sans-serif;
		font-size: 1.8rem;
		font-weight: 300;
	}

	& a {
		color: #333;
		font-weight: 700;
	}

	& a:hover {
		text-decoration: underline;
	}

	& p {
		line-height: 2;
		font-weight: 300;
		font-size: 1.5rem;
	}

	& p span {
		font-weight: 500;
	}

	& .work-item:not( :last-child ),
	& .education-item:not( :last-child ),
	& .award-item:not( :last-child ) {
		margin-bottom: 100px;
	}
}

@media only screen and ( max-width: 768px ) {
	#resume {
		& section:first-child {
			padding: 6rem 4rem 0;
		}

		& .day-to-day {
			margin-bottom: 25px;
		}

		& .work-item,
		& .education-item,
		& .award-item {
			margin: 0;
		}
	}
}
