/**
 * Vincent Ragosta - Twenty Sixteen
 * Resume CSS
 */

#resume {
	& section {
		padding: em( 60px) em( 40px );
	}

	& section:first-child {
		@media only screen and #{$break-mobile-max} {
			// padding: em( 60px) em( 40px ) 0;
			padding-bottom: 0;
		}
	}

	& h2,
	& h3,
	& h4,
	& p {
		text-align: left;
		font-family: $stack-lato;
	}

	& h2 {
		font-weight: $font-weight-light;

		@media only screen and #{$break-mobile-max} {
			font-size: em( 60px );
		}
	}

	& h3 {
		text-transform: uppercase;
		margin-bottom: em( 25px );

		@media only screen and #{$break-mobile-max} {
			font-size: em( 36px );
			margin-bottom: em( 25px, 36px );
		}
	}

	& h4 {
		margin-bottom: em( 10px );
		text-transform: uppercase;
	}

	& li {
		font-size: em( 18px );
		margin: em( 5px, 18px ) 0;
		font-family: $stack-lato;
		font-weight: $font-weight-light;

		@media only screen and #{$break-mobile-max} {
			font-size: em( 32px );
			margin: em( 5px, 32px );
		}
	}

	& a {
		color: $mine-shaft;
		font-weight: $font-weight-bold;
	}

	& a:hover {
		text-decoration: underline;
	}

	& p {
		font-size: em( 15px );
		line-height: ( 32 / 16 );
		font-weight: $font-weight-light;

		@media only screen and #{$break-mobile-max} {
			font-size: em( 28px );
		}
	}

	& p span {
		font-weight: $font-weight-regular;
	}

	& hr {
		color: rgba( 26, 26, 26, .15 );
		background-color: rgba( 26, 26, 26, .15 );
	}

	& .day-to-day {
		@media only screen and #{$break-mobile-max} {
			margin-bottom: em( 25px );
		}
	}

	& .work-item,
	& .education-item,
	& .award-item {
		@media only screen and #{$break-mobile-max} {
			margin: 0;
		}
	}

	& .work-item:not( :last-child ),
	& .education-item:not( :last-child ),
	& .award-item:not( :last-child ) {
		margin-bottom: em( 100px );
	}
}
