/**
 * Vincent Ragosta - Twenty Sixteen
 * Single CSS
 */

#single-project {
	& {
		@extend %col-flex-center;
		max-width: 1200px;
		margin: 0 auto 6rem;
		padding: 0 4rem;
	}

	& p {
		font-size: 2em;
	}

	& pre {
		padding: 4rem;
	}

	& pre h3 {
		text-align: left;
	}

	& img {
		@extend %full-width;
		height: 100%;
	}
}

@media only screen and ( max-width: 768px ) {
	#single-project {
		padding: 0;
	}

	#pagination-single a {
		font-size: 2rem;
	}
}

#pagination-single {
	& {
		padding: 0 4rem;
	}

	& a {
		border: none;
		padding: 0;
		font-size: 3rem;
	}

	& a:hover {
		background: none;
		color: $dove-gray;
	}
}

.post-edit-link {
	& {
		color: $mine-shaft;
		font-size: 2rem;
		font-weight: $font-weight-regular;
	}

	&:hover {
		color: $mine-shaft;
		opacity: 0.7;
		font-weight: $font-weight-regular;
	}
}

.arrow-top {
	& {
		@extend %full-width;
		position: fixed;
		bottom: 2rem;
		text-align: center;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	& a {
		margin: 0 auto;
		padding: 0;
		background-color: $white;
		border: 1px solid $thunder;
		height: 5rem;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		width: 5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		color: $mine-shaft;
	}

	& i {
		font-size: 4rem;
		padding-bottom: .2rem;
	}
}
