/**
 *===== Core Components =====*
 */
body {
	font-family: 'Cormorant Garamond', serif;
}

button {
	outline: none;
}

h1,
h2,
h3,
h4,
p,
span {
	margin: 0;
	text-align: center;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2rem;
}

a,
a:hover,
a:focus,
a:active,
a:active:focus {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #fff;
}

hr {
	border-width: 0;
	color: rgba(26,26,26,.15);
	background-color: rgba(26,26,26,.15);
	height: 1px;
	width: 100%;
}
