/**
 * Vincent Ragosta - Twenty Sixteen
 * Blog CSS
 */
#blog {
	padding: 4rem 16rem;
}

#blog h2,
#blog p {
	text-align: left;
}

#blog .content {
	width: 70%;
}

#blog .post {
	line-height: 1.5;
	padding: 4rem;
}

#blog .sub-header {
	display: flex;
	margin: 0 0 .5rem;
	font-size: 1.8rem;
	opacity: 0.7;
}

#separator {
	display: flex;
	align-items: center;
	margin: 0 .5rem;
}

#separator i {
	font-size: 3px;
}

#blog .featured-image {
	position: relative;
	padding-bottom: 40%;
}
