/**
 *===== Menu =====*
 */
.menu-container {
	display: flex;
	justify-content: flex-end;
	padding: 4rem 2rem;
	visibility: visible;
	opacity: 1;
	transition: visibility 2s ease-in-out, opacity 0.5s ease-in-out;
}

/*--- TODO ---*/
@media only screen and ( max-width: 992px ) {
	.menu-container {
		visibility: hidden;
		opacity: 0;
	}
}

.menu {
	opacity: 1;
	visibility: visible;
	transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
}

.menu.unloaded {
	opacity: 0;
	visibility: hidden;
}

/*--- TODO ---*/
.menu a {
	margin: 0 1rem;
	font-size: 1.5rem;
	letter-spacing: .2rem;
	text-transform: uppercase;
	opacity: 0.8;
	transition: opacity 0.2s ease-in-out;
}

/*--- TODO ---*/
.menu a:hover {
	opacity: 1;
}

/*--- TODO ---*/
#contact {
	display: flex;
}

/*-- TODO ---*/
#header #contact {
	padding: 1rem;
	border: 2px solid #fff;
	transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

/*--- TODO ---*/
#header #contact:hover {
	background: #fff;
	color: #686868;
}

/*--- Footer Menu ---*/
/*--- TODO ---*/
#footer .menu {
	margin: 2rem 0;
}

/*--- TODO ---*/
@media only screen and ( max-width: 768px ) {
	#footer .menu {
		flex-direction: column;
	}

	#footer .menu a {
		margin: .5rem 0;
	}
}

/*--- TODO ---*/
.drop-down {
	font-size: 4rem;
	color: #fff;
	cursor: pointer;
	position: absolute;
	top: 43px;
	right: 40px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 2s ease-in-out, opacity 0.5s ease-in-out;
}

/*--- Needed if the click event has occured and the page increases in size ---*/
@media only screen and ( max-width: 992px ) {
	.drop-down {
		visibility: visible;
		opacity: 1;
	}
}

/**
 *===== Mobile Menu =====*
 */
/*--- TODO ---*/
#mobile-menu {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #686868;
	z-index: -10;
	visibility: hidden;
	opacity: 0;
	transition: visibility 2s ease-in-out, opacity 0.5s ease-in-out;
}

#mobile-menu.visible {
	visibility: visible;
	opacity: 1;
	z-index: 10;
}

/*--- TODO ---*/
@media only screen and ( min-width: 992px ) {
	#mobile-menu {
		visibility: hidden;
		opacity: 0;
	}
}

/*--- TODO ---*/
#mobile-menu .close-container {
	display: flex;
	justify-content: flex-end;
	padding: 4.5rem 3.2rem 1.5rem 2rem;
}

/*--- TODO ---*/
#mobile-menu .close-container i {
	color: #fff;
}

/*--- TODO ---*/
#mobile-menu .menu {
	flex-direction: column;
}

/*--- TODO ---*/
#mobile-menu .menu a {
	margin: 1rem 0;
	font-size: 3rem;
}
