/**
 * Vincent Ragosta - Twenty Sixteen
 * Sidebar CSS
 */
.aside {
	padding: 6rem 4rem;
}

@media only screen and ( max-width: 767px ) {
	.aside {
		padding: 4rem;
	}
}

/*--- Accomodating for single template design ---*/
.single .aside.link {
	padding: 0 4rem 6rem;
	display: flex;
}

/*--- Accomodating for single template design ---*/
.single .aside.content {
	padding: 0 4rem;
}

@media only screen and ( max-width: 768px ) {
	.single .aside.content {
		padding: 0;
	}
}

.cta.a,
.cta.c,
.cta.f,

/*--- Specifically target the excerpt on the archive page. ---*/
.archive .aside.excerpt {
	background: #edeeef;
}

.cta.b,
.cta.d,
.cta.e {
	background: #fff;
}

.cta.e,
.cta.about.c {
	padding: 0;
}

/*--- Aside Titles ---*/
.aside h1,
.aside h2 {
	/*margin-bottom: 1.2rem;*/
	margin-bottom: 4rem;
	font-family: 'Lato', sans-serif;
}

@media only screen and ( max-width: 767px ) {
	.aside h2 {
		font-size: 3rem;
		margin-bottom: 0.8rem;
	}
}

.cta.d h2 {
	max-width: 800px;
}

/*--- Aside Paragraphs ---*/
.aside p {
	line-height: 1.5;
	opacity: 0.7;
	width: 100%;
	max-width: 1100px;
	font-size: 1.85rem;
}

.aside p + p {
	margin-top: 4rem;
	display: flex;
	justify-content: center;
}

@media only screen and ( max-width: 767px ) {
	.aside p {
		font-size: 1.65rem;
		line-height: 1.5;
	}

	.aside p + p {
		margin-top: 0.8rem;
	}
}

.cta.b p,
.cta.about.a p {
	max-width: 800px;
}

.cta.about.d p {
	max-width: 600px;
}

.cta.b p:first-child {
	margin: 0 auto;
}

.cta.d:not( .about ) p {
	max-width: 300px;
	line-height: 1.9;
}

/*--- Aside Links ---*/
.aside a {
	border: 2px solid #686868;
	background: transparent;
	color: #686868;
	font-size: 1.5rem;
	font-weight: 300;
	padding: 1.5rem 3rem;
	text-transform: uppercase;
	transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
	text-align: center;
}

@media only screen and ( max-width: 767px ) {
	.aside a {
		font-size: 1.5rem;
	}
}

.aside a:hover {
	background: #686868;
	color: #fff;
}

.cta.d h4 {
	text-transform: uppercase;
	font-weight: 700;
	margin: 3rem 0 1.5rem 0;
}

.pre-footer {
	padding: 0;
}

/*--- TODO ---*/
@media only screen ( min-width: 992px ) {
	#sidebar {
		width: 30%;
	}
}

@media only screen and ( max-width: 991px ) {
	#sidebar {
		width: 100%;
	}
}
