/**
 * Vincent Ragosta - Twenty Sixteen
 * Archive CSS
 */
.archive .aside p {
	max-width: 850px;
}

.archive .grid-container {
	padding: 1rem .5rem 0;
}

.archive .grid-container:last-child {
	padding-bottom: 0rem;
}

.archive .grid-container .grid-item {
	margin: 0 .5rem;
}

@media only screen and ( max-width: 767px ) {
	.archive .grid-container .grid-item {
		margin: .5rem 0;
	}

	.archive .grid-container {
		flex-direction: column;
	}
}

/*--- Blog ---*/
@media only screen and ( min-width: 1500px ) {
	#blog {
		padding: 4rem 16rem;
	}
}

@media only screen and ( min-width: 992px ) and ( max-width: 1499px ) {
	#blog {
		padding: 4rem 6rem;
	}
}

@media only screen and ( max-width: 991px ) {
	#blog {
		flex-direction: column;
		padding: 2rem;
	}
}

#blog h2,
#blog p {
	text-align: left;
}

@media only screen and ( min-width: 991px ) {
	#blog section {
		width: 70%;
	}
}

@media only screen and ( max-width: 991px ) {
	#blog section {
		width: 100%;
	}
}

#blog .post {
	line-height: 1.5;
	padding: 2rem;
}

#blog .category a {
	/*font-family: 'Cormorant Garamond', serif;*/
	color: #333;
	text-transform: uppercase;
	font-size: 1.5rem;
	opacity: 0.7;
	font-weight: 300;
}

#blog .header-container .header {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}

#blog .sub-header {
	display: flex;
	font-size: 1.8rem;
	opacity: 0.7;
}

#blog .post-author,
#blog .post-date {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#blog figure {
	position: relative;
	padding-bottom: 40%;
	margin-top: .5rem;
}

#blog .image {
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#blog .excerpt {
	margin-top: .5rem;
	font-size: 2.2rem;
	font-family: 'Lato', sans-serif;
}

#blog .content {
	opacity: 0.7;
	font-size: 1.8rem;
}

#blog .link-container {
	margin-top: 1rem;
}

#blog .link {
	color: #333;
	font-size: 1.8rem;
	font-weight: 300;
}

/*--- Archive Pagination ---*/
#pagination-archive {
	margin: 0 0 6rem;
}

#blog #pagination-archive {
	margin: 4rem 0;
}

.page-numbers {
	border: none;
	padding: 0 1rem;
	font-size: 2rem;
	color: #686868;
	font-family: 'Lato', sans-serif;
	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.page-numbers:hover:not( .current ) {
	background-color: #686868;
	color: #fff;
}
