/**
 * Vincent Ragosta - Twenty Sixteen
 * Core Components CSS
 */

/*--- Fonts ---*/
@import url( 'https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i' );
@import url( 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i' );

/*--- Needed to prevent the whitespace to the right of web page ---*/
html, body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

body {
	font-family: 'Cormorant Garamond', serif;
}

button {
	outline: none;
}

h1,
h2,
h3,
h4,
p,
span {
	margin: 0;
	text-align: center;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2rem;
}

a,
a:hover,
a:focus,
a:active,
a:active:focus {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #fff;
}

hr {
	border-width: 0;
	color: rgba( 26, 26, 26, .15 );
	background-color: rgba( 26, 26, 26, .15 );
	height: 1px;
	width: 100%;
}

pre {
	border: none;
	margin: 0;
	text-align: center;
	white-space: pre-wrap;
	word-break: normal;
}

/*--- TODO ---*/
#separator {
	display: flex;
	align-items: center;
	margin: 0 .5rem;
}

#separator i {
	font-size: 3px;
}
