/**
 *===== Single Template =====*
 */
#single-project {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 4rem;
}

@media only screen and ( max-width: 768px ) {
	#single-project img {
		width: 100%;
		height: 100%;
	}
}

#single-project .aside + .aside {
	padding: 2rem 4rem 6rem;
}

.technology {
	width: 100%;
}

.technology pre {
	border: none;
	margin: 0;
	text-align: center;
	white-space: pre-wrap;
	word-break: normal;
}

/*--- Single Pagination ---*/
#pagination-controls {
	display: flex;
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}

#pagination-controls a {
	font-size: 4rem;
	color: rgba( 104, 104, 104, 0.9 );
	padding: 0;
	border: none;
	transition: none;
}

#pagination-controls a:hover {
	background: none;
}
